services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - REACT_APP_API_URL=http://backend:5000
    restart: unless-stopped

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "5000:5000"
    command: npm run start
    environment:
      - DATABASE_URL=postgresql://postgres:Bottleflip!12@db:5432/ecommerce # Consider using .env for sensitive values
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network
    env_file:
      - ../backend/config/.env
    restart: unless-stopped

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Bottleflip!12
      POSTGRES_DB: ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
